ul {
  list-style-type: none;
}
li {
  overflow: hidden; 
  white-space: nowrap;
}
BookName {
    @extend li;
    font-size: medium;
   font-weight: bold;
}
Rating {
     @extend li;
   white-space: nowrap;
   font-size: small;
}
.top-buffer { 
    margin-top:20px; 
}
Author {
    @extend li;
    font-size: small;
    
}
ISBN {
    @extend li;
    font-size: small;
   color: gray;
}
