<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Reader</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        {% load static %}
            <link rel="stylesheet" href="{% static ''%}css/marketing.css"/>
                <!--<![endif]-->
</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Book Recommendation System</a>

        <!--<ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>-->
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Book Recommendation </h1>
        <!--<p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            
        </p>-->
        <!--<p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>-->
        <form action="/log/" method="get"> 
        
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <input class="pure-input-1" type="text" placeholder="User name" name="id" />
                    </div>
                    <div class="col-md-6 column">
                        <input class="pure-input-1" type="text" placeholder="City" name="city" />
                        </div>
                <div class="col-md-6 column">
                    <input class="pure-input-1" type="text" placeholder="State" name="state" />
                    </div>
                <div class="col-md-6 column">
                    <input class="pure-input-1" type="text" placeholder="Country" name="country" />
                    </div>
                <div class="col-md-6 column">
                    <input class="pure-input-1" type="text" placeholder="Age" name="age" />
                    </div>
                </div>

                <style scoped>
                    .button-success {
                        color: white;
                        border-radius: 2px;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                    }

                    .button-success {
                        background: rgb(28, 184, 65); /* this is a green */
                    }
                </style>
            <div class="row clearfix">
                <div class="row top-buffer">

                </div>
            </div>

                <button class="button-success pure-button" style="height:30px;width:200px">search</button>

        </form>
            <!--<button class="button-error pure-button">Error Button</button>
            <button class="button-warning pure-button">Warning Button</button>
            <button class="button-secondary pure-button">Secondary Button</button>-->

           
    </div>
</div>





</body>
</html>
