ul {
  list-style-type: none;
}
li {
  overflow: hidden; 
  white-space: nowrap;
}
BookName {
    @include li;
    font-size: medium;
   font-weight: bold;
}
Rating {
     @include li;
   white-space: nowrap;
}
.top-buffer { 
    margin-top:20px; 
}
Author {
      @include li span;
   white-space: nowrap;
   color : red;
}
li span {
    overflow: hidden; 
  white-space: nowrap;
  color : red;
}